.container{
  background-color: red;
  display: flex;
  min-height: 800px;
}

.side-panel{
  background: yellow;
  width: 300px;
}

.main-panel{
  background: #fff;
  width: 100%;
}

.table{
  border-collapse: collapse;
  width: 100%;
}
.table tr td,
.table tr th{
  border: 1px solid #ccc;
}